html {
  background: #0c0c0c;
  color: aliceblue;
  font-size: 16px;
}

main {
  font-size: 0.875rem;
}

code {
  font-size: 0.875rem;
  background: rgb(47, 20, 82);
}

pre {
  background: #1e1e1e;
  border: 1px solid black;
  font-size: 0.875rem;
  padding: 15px;
  border-radius: 15px;
  overflow: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
#question-form {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  width: 100%;
  margin-bottom: 10px;
}
button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
#response-container {
  margin-top: 20px;
  font-size: 18px;
}
